.courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
    gap: 20px;
    padding: 20px;
}
.EnrolledCourse{
    color: black;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 25px;
}
.AvailableCourse{
    color: black;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 25px;
}